* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.intro__title, .footer__bottom__left-title, .footer__title, .testimonials__title, .features__title, .second-section__title {
  font-family: helvetica, sans-serif;
  color: #212353;
  font-weight: 700;
}

.footer__bottom__left-title, .footer__title, .testimonials__title, .features__title, .second-section__title {
  font-size: 40px;
  font-size: 2.5em;
  line-height: 130%;
}

.features__box__title {
  font-family: helvetica, sans-serif;
  color: #212353;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 20px;
}

.footer__paragraph, .testimonials__content__paragraph, .features__box__link, .features__box__paragraph, .features__paragraph, .second-section__paragraph, .intro__paragraph {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #4B5D68;
  line-height: 160%;
  font-size: 18px;
}

.footer__bottom__info-link, .footer__bottom__info-title, .footer__bottom__left-copy, .footer__bottom__left-contact, .footer__bottom__left-adress {
  font-family: "Lato", sans-serif;
  color: #212353;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}

button:hover, .footer__top--buttons .button--pink, .intro .button--purple, .footer__top--buttons .button--light, .navigation .button--light {
  font-family: "Lato", sans-serif;
  height: 60px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.footer__top--buttons .button--light, .navigation .button--light {
  color: #212353;
  background-color: #ffffff;
  width: 210px;
  font-size: 16px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.footer__top--buttons .button--pink, .intro .button--purple {
  color: #ffffff;
  background-color: #9C69E2;
  width: 170px;
  font-size: 18px;
}

.button__icon {
  margin-left: 2vw;
  margin-top: 3px;
}

button:hover {
  transform: scale(1.1);
}

body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%) no-repeat;
  background-size: cover;
}

/*--------------------------------*/
/* HEADER */
/*-------------------------------*/
.header {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------- NAVIGATION ----------*/
.navigation {
  display: flex;
  width: 80vw;
  max-width: 1120px;
  justify-content: space-between;
}
.navigation__list {
  width: 45vw;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__logo {
  margin-right: 5vw;
}
li .navigation__link {
  color: #4B5D68;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  margin-right: 5px;
  transition: 0.2s;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}
.navigation__link:hover {
  font-weight: 700;
  color: #212353;
}
/*--------------------------------*/
/* INTRO */
/*-------------------------------*/
.intro {
  width: 64vw;
  max-width: 1248px;
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__information {
  width: 45vw;
  height: 50vh;
  max-height: 464px;
  position: absolute;
  z-index: 1;
}
.intro__title {
  width: 66vw;
  max-width: 645px;
  font-size: 6vw;
  line-height: 110%;
  margin-bottom: 7vh;
}
.intro__paragraph {
  width: 70vw;
  max-width: 410px;
  margin-bottom: 7vh;
}
.intro__img {
  width: 55vw;
  max-width: 885px;
  position: relative;
  top: 20vh;
  left: 34vw;
}
.intro .button--purple:hover {
  background-color: #8456c5;
}

/*--------------------------------*/
/* SECOND SECTION */
/*-------------------------------*/
.second-section {
  height: 110vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section__container {
  width: 80vw;
  height: 75vh;
  max-height: 560px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.second-section__img {
  width: 35vw;
  max-width: 477px;
  margin-right: 3vw;
}
.second-section__information {
  width: 48%;
  max-width: 475px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-section__paragraph {
  margin-top: 4vh;
}

/*--------------------------------*/
/* FEATURES */
/*-------------------------------*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__title {
  margin-bottom: 4vh;
}
.features__paragraph {
  text-align: center;
  width: 70vw;
  max-width: 584px;
  margin-bottom: 7vh;
}
.features__box-container {
  width: 85vw;
  max-width: 85vw;
  min-height: 105vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  margin-left: 5vw;
}
.features__box {
  width: 400px;
  max-width: 558px;
  margin-left: 16px;
  padding: 30px 0 20px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.features__box__background {
  width: 400px;
  position: absolute;
  z-index: -1;
}
.features__box__background.purple--background {
  position: absolute;
  top: 16px;
}
.features__box:nth-of-type(2) {
  margin-top: 6px;
}
.features__box__img {
  position: absolute;
  top: 25%;
  left: -25%;
  width: 55%;
  max-width: 232px;
}
.features__box__text {
  padding-right: 3vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.features__box__paragraph {
  width: 220px;
  height: 150px;
  min-height: 100px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.features__box__link {
  color: #212353;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 3vh;
}
.features .arrow {
  margin-left: 20px;
  margin-top: 3px;
}
.features__box__link:hover {
  color: #68C9BA;
}

.lower--img {
  top: 36%;
}

/*--------------------------------*/
/* TESTIMONIALS */
/*-------------------------------*/
.testimonials {
  margin-bottom: 6vh;
  margin-top: 6vh;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__container {
  width: 80vw;
  max-width: 80vw;
  height: 80vh;
  max-height: 709px;
  background-color: #9C69E2;
  border-radius: 50px;
}
.testimonials__title {
  color: #ffffff;
  padding: 8% 0 0 8%;
}
.testimonials__content-wrapper {
  height: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__content-container {
  background: #ffffff;
  height: 63%;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(60, 28, 99, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__content {
  padding: 3vw;
  display: flex;
  height: 100%;
  width: 100%;
}
.testimonials__content__img {
  align-self: flex-start;
}
.testimonials__content__text {
  width: 76%;
  max-width: 385px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__content__title {
  font-family: "Lato", sans-serif;
  color: #212353;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
}
.testimonials__content__link {
  font-family: "Lato", sans-serif;
  color: #9C69E2;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}
.testimonials__content__paragraph {
  line-height: 180%;
  margin-top: 20px;
}

.testimonials__content__link:hover {
  text-decoration: underline;
}

/*--------------------------------*/
/* FOOTER */
/*-------------------------------*/
hr {
  border: 1px solid #9C69E2;
  width: 100vw;
  opacity: 0.2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 110vh;
  /*---------- TOP ----------*/
  /*---------- BOTTOM ----------*/
}
.footer__top {
  display: flex;
  width: 80vw;
  max-width: 1120px;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  margin-bottom: 2vh;
}
.footer__top--buttons {
  display: flex;
}
.footer__top--buttons .button--pink {
  background-color: #F063B8;
}
.footer__top--buttons .button--pink:hover {
  background-color: #d44a9d;
}
.footer__top--buttons .button--light {
  margin-left: 30px;
}
.footer__bottom {
  display: flex;
  width: 80vw;
  max-width: 1120px;
  height: 45vh;
}
.footer__bottom-left {
  height: 52vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__bottom__left-top {
  display: flex;
  align-items: center;
}
.footer__bottom__left-title {
  font-size: 20px;
  margin-left: 20px;
}
.footer__bottom__left-adress {
  font-weight: 400;
}
.footer__bottom__left-contact {
  font-weight: 300;
  margin-top: 10px;
}
.footer__bottom__left-copy {
  font-weight: 300;
  font-size: 12px;
}
.footer__bottom-right {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
}
.footer__bottom__info {
  width: 16vw;
  max-width: 166px;
  display: flex;
  flex-direction: column;
}
.footer__bottom__info-title {
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 30px;
  margin-top: 5px;
}
.footer__bottom__info-list {
  display: flex;
  flex-direction: column;
}
.footer__bottom__info-socials {
  display: flex;
  flex-direction: row;
}
.footer__bottom__info-link {
  text-decoration: none;
  line-height: 250%;
  font-weight: 300;
}
.footer__bottom__info-link:hover {
  color: #9C69E2;
  text-decoration: underline;
}

svg {
  height: 50px;
  opacity: 0.1;
  fill: #212353;
  margin-right: 14px;
  transition: 0.2s;
}

svg:hover {
  fill: #9C69E2;
  opacity: 1;
}

/*--------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------*/
@media screen and (max-width: 978px) {
  .features__box:nth-of-type(3) {
    margin-top: 8px;
  }
}
@media screen and (max-width: 826px) {
  .testimonials__content-container {
    width: 76%;
    height: 76%;
  }

  .footer__top {
    justify-content: flex-start;
  }

  .footer__top--buttons {
    flex-direction: column;
    align-items: inherit;
    justify-content: space-between;
    height: 136px;
  }

  .footer__bottom {
    justify-content: space-between;
  }

  .footer__bottom-right {
    flex-wrap: wrap;
    width: 37vw;
    justify-content: flex-start;
  }

  .footer__bottom__info {
    width: 18vw;
  }
}
@media screen and (max-width: 636px) {
  .navigation {
    flex-direction: column;
    height: 18vh;
  }

  .navigation__list {
    width: 80vw;
  }

  .button--light {
    align-self: flex-end;
  }

  .intro {
    height: 79vh;
  }

  .second-section {
    height: 76vh;
    min-height: 76vh;
    align-items: flex-start;
  }

  .second-section__container {
    flex-direction: column-reverse;
    max-height: 469px;
  }

  .second-section__information {
    width: 70vw;
    height: 614px;
  }

  .second-section__img-container {
    position: relative;
    right: -14%;
    bottom: 40%;
  }

  .second-section__img {
    position: absolute;
    z-index: -1;
  }
}
@media screen and (max-width: 414px) {
  .intro__information {
    height: 63vh;
  }

  .intro__title {
    font-size: 11vw;
    margin-bottom: 5vh;
  }

  .intro__paragraph {
    font-size: 1em;
  }

  .intro__img {
    top: 23vh;
  }

  .second-section__paragraph {
    font-size: 1em;
  }

  .second-section__img-container {
    right: -10%;
    bottom: 20%;
  }

  .features__title {
    margin-bottom: 2vh;
    font-size: 2em;
  }

  .features__paragraph {
    font-size: 1em;
    margin-bottom: 0px;
  }

  .features__box-container {
    margin-left: 10vw;
    transform: scale(0.85);
    height: 183vh;
    margin-top: -6vh;
  }

  .testimonials {
    height: inherit;
  }

  .testimonials__title {
    font-size: 2em;
  }

  .testimonials__container {
    height: 63vh;
  }

  .testimonials__content {
    flex-direction: column;
    justify-content: flex-end;
  }

  .testimonials__content-container {
    width: 84%;
    height: 71%;
  }

  .testimonials__content__text {
    width: 96%;
    margin-left: 6px;
  }

  .testimonials__content__paragraph {
    font-size: 1em;
    line-height: 160%;
  }

  .testimonials__content__img {
    align-self: flex-end;
    position: relative;
    top: 25%;
  }

  .footer {
    height: 131vh;
  }

  .footer__top {
    height: 38vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__top-text {
    text-align: center;
  }

  .footer__title {
    font-size: 2em;
  }

  .footer__paragraph {
    font-size: 1em;
  }

  .footer__top--buttons .button--light {
    margin-left: 0px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    height: 96vh;
  }

  .footer__bottom-left {
    height: 36vh;
    transform: scale(0.8);
    margin-left: -9vw;
  }

  .footer__bottom-right {
    width: 76vw;
    justify-content: space-between;
  }

  .footer__bottom__info {
    width: 34vw;
  }
}
@media screen and (max-width: 375px) {
  .second-section {
    height: 83vh;
  }

  .second-section__title {
    font-size: 2em;
  }

  .features__box-container {
    transform: scale(0.7);
    width: 100vw;
    max-width: 100vw;
    margin-top: -20vh;
  }

  .testimonials__container {
    height: 76vh;
  }

  .footer {
    height: 146vh;
  }
}
@media only screen and (max-width: 375px) and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .second-section {
    height: 66vh;
    min-height: 66vh;
  }

  .features__box-container {
    height: 154vh;
  }

  .testimonials__container {
    height: 62vh;
  }

  .footer {
    height: 123vh;
  }
}
@media screen and (max-width: 360px) {
  .testimonials__content-container {
    height: 73%;
  }
}
@media screen and (max-width: 320px) {
  .navigation {
    height: 36vh;
  }

  .navigation__logo {
    margin-bottom: 8px;
  }

  .navigation__list {
    flex-direction: column;
    align-items: flex-start;
  }

  li .navigation__link {
    margin-top: 8px;
  }

  .navigation .button--light {
    width: 166px;
    position: relative;
    bottom: 28vh;
  }

  .intro {
    height: 100vh;
    margin-top: -20vh;
  }

  .second-section {
    height: 86vh;
  }

  .features__box-container {
    margin-left: 15vw;
    height: 205vh;
  }

  .features__box__img {
    left: -36%;
  }

  .testimonials__container {
    height: 72vh;
  }

  .testimonials__content-container {
    height: 85%;
  }

  .testimonials__content__img {
    transform: scale(0.75);
  }

  .footer {
    margin-top: 7vh;
  }

  .footer__bottom {
    height: 120vh;
  }

  .footer__bottom-left {
    min-height: 44vh;
  }
}

/*# sourceMappingURL=style.css.map */
